---
import { Image } from "astro:assets";
import Container from "../ui/Container.astro";

export interface Props {
  name: string;
  bio: string;
  skills: string[];
  experience: string;
  education: string;
  profileImage: string;
}

const {
  name,
  bio,
  skills = [],
  experience,
  education,
  profileImage,
} = Astro.props;
---

<section class="about section">
  <Container>
   <h2 class="section-title">About Me</h2>
    <div class="about-content">
      <div class="about-text">
        <p class="bio-text">{bio}</p>
        <div class="about-details">
          <div class="detail-item">
            <h4 class="detail-label">Experience</h4>
          </div>

          <div class="detail-item">
            <h4 class="detail-label">Education</h4>
            <p class="detail-value">{education}</p>
          </div>
        </div>

        <!--Skill section -->
        <div class="skills-section">
          <h3 class="skills-title">Technical Skills</h3>
          <div class="skills-grid">
            {skills.map((skill) => <p class="skill-tag">{skill}</p>)}
          </div>
        </div>
      </div>

      <div class="about-image">
        <div class="image-container">
          <Image src={profileImage} alt={`About ${name}`} class="about-img" width="500" height="700"/>
        </div>
      </div>
      
    </div>
            <div class="about-actions">
          <a href="/resume.pdf" class="btn-primary" download>Download CV</a>
        </div>
  </Container>
  </section>

  <style>
    .about {
      background-color: var(--color-primary);
    }

    .about-content {
      display: flex;
      gap: var(--spacing-between);
      align-items: center;
    }

    .section-title {
    font-size: var(--font-title);
    font-weight: bold;
    color: var(--color-primary-dark);
    padding-top: 40px;
    padding-bottom: 40px;
    }

    .bio-text {
      font-size: var(--font-description);
      color: var(--color-primary-dark);
      padding-bottom: 20px;
    }

    .detail-value {
      color: var(--color-primary);
      font-size: var(--font-description);
    }

    .about-details {
      display: flex;
      gap: var(--spacing-xs);
      flex-direction: column;
    }

    .detail-item {
      padding: var(--spacing-button);
      background-color: var(--color-background);
      border-radius: var(--border-radius-md);
      align-items: center;
      font-size: var(--font-description);
      color: var(--color-primary);
      justify-content: center;
    }

    .skills-title {
      color: var(--color-primary-dark);
      font-size: var(--font-title);
      padding-top: 40px;
      padding-bottom: 20px;
    }

    .skills-grid {
      display: flex;
      flex-wrap: wrap;
      gap: var(--spacing-sm);
      padding-bottom: 40px;
    }

    .skill-tag {
    border-radius: var(--border-radius-md);
    font-size: var(--font-description);
    line-height: 1;
    text-decoration: none;
    height: 68px;
    width: 178px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color-primary-dark);
    color: var(--color-primary);
    }

    .about-image {
      display: flex;
      justify-content: center;
      border-radius: var(--border-radius-md);
    }

    .image-container {
      width: 600px;
      height: 700px;
    }

    .about-img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: var(--border-radius-md);
    }

    .about-actions {
      padding-bottom: var(--spacing-between);
      width: 100%;
    }

    .btn-primary {
      width: 100%;
    }
  </style>

