---
import Card from "../ui/Card.astro";
import Button from "../ui/Button.astro";
import { Image } from "astro:assets";

export interface Props {
  title: string;
  excerpt: string;
  image: string;
  href: string;
}

const { title, excerpt, image, href } = Astro.props;
---

<Card class="article-card">
  <div class="article-image">
    <Image
      src={image}
      alt={title}
      class="article-img"
      width="400"
      height="200"
    />
  </div>

  <div class="article-content">
    <div class="content">
      <h3 class="article-title">{title}</h3>
      <p class="article-excerpt">{excerpt}</p>
    </div>
    <div class="article-cta">
      <Button href={href} variant="primary" size="sm"> Read more </Button>
    </div>
  </div>
</Card>

<style>
  .content {
    padding-bottom: var(--spacing-between);
  }

  .article-card {
    display: flex;
    flex-direction: column;
  }

  .article-img {
    background-color: var(--color-primary);
    border-radius: var(--border-radius-md);
    width: 400px;
    height: 225px;
    max-width: 400px;
    max-height: 225px;
  }
  

  .article-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--color-primary);
    
  }

  .article-title {
    font-size: var(--font-description);
    font-weight: bold;
    color: var(--color-primary-dark);
    padding-bottom: 20px;
  }

  .article-excerpt {
    height: 80px;
    color: var(--color-primary-dark);
    font-size: 16px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
  }

</style>
