<<<<<<< HEAD
---
export interface Props {
  variant?: "primary" | "secondary" | "outline";
  size?: "sm" | "md" | "lg";
  href?: string;
  class?: string;
}

const {
  variant = "primary",
  size = "md",
  href,
  class: className = "",
} = Astro.props;
const classes = `btn btn-${variant} btn-${size} ${className}`;
---

{
  href ? (
    <a href={href} class={classes}>
      <slot />
    </a>
  ) : (
    <button class={classes}>
      <slot />
    </button>
  )
}
=======
---
export interface Props {
  variant?: "primary" | "secondary" | "outline";
  size?: "sm" | "md" | "lg";
  href?: string;
  class?: string;
}

const {
  variant = "primary",
  size = "md",
  href,
  class: className = "",
} = Astro.props;
const classes = `btn btn-${variant} btn-${size} ${className}`;
---

{
  href ? (
    <a href={href} class={classes}>
      <slot />
    </a>
  ) : (
    <button class={classes}>
      <slot />
    </button>
  )
}
>>>>>>> dd7a9be (อปเดตหนาเวบ)
